#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

@import "tailwindcss";

* {
  font-family: "Lato";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
html {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}

/* Movu display */
@font-face {
  font-family: "Lato";
  src: url("./assets/fonts/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("./assets/fonts/Lato-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("./assets/fonts/Lato-Black.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("./assets/fonts/Lato-Bold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

.custom-scrollbar {
  overflow-y: auto !important;
  scrollbar-width: thin;
  scrollbar-color: #2a3f39 #1b2724;
}

.custom-scrollbar::-webkit-scrollbar {
  display: block;
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1b2724;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #2a3f39;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 234, 94, 0.5);
}
